<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>controladorProfesorIndex</servlet-name>
		<servlet-class>controlador.profesor.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorIndex</servlet-name>
		<url-pattern>/profesor</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorProfesorInsertar</servlet-name>
		<servlet-class>controlador.profesor.insertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorInsertar</servlet-name>
		<url-pattern>/profesor/insertar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorProfesorEliminar</servlet-name>
		<servlet-class>controlador.profesor.eliminar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorEliminar</servlet-name>
		<url-pattern>/profesor/eliminar</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorProfesorModificar</servlet-name>
		<servlet-class>controlador.profesor.modificar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorProfesorModificar</servlet-name>
		<url-pattern>/profesor/modificar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorRoleInsertar</servlet-name>
		<servlet-class>controlador.role.insertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRoleInsertar</servlet-name>
		<url-pattern>/role/insertar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorRoleIndex</servlet-name>
		<servlet-class>controlador.role.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRoleIndex</servlet-name>
		<url-pattern>/role</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorRoleModificar</servlet-name>
		<servlet-class>controlador.role.modificar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRoleModificar</servlet-name>
		<url-pattern>/role/modificar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorRoleEliminar</servlet-name>
		<servlet-class>controlador.role.eliminar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRoleEliminar</servlet-name>
		<url-pattern>/role/eliminar</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>controladorRecursoInsertar</servlet-name>
		<servlet-class>controlador.recurso.insertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRecursoInsertar</servlet-name>
		<url-pattern>/recurso/insertar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorRecursoIndex</servlet-name>
		<servlet-class>controlador.recurso.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRecursoIndex</servlet-name>
		<url-pattern>/recurso</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorRecursoModificar</servlet-name>
		<servlet-class>controlador.recurso.modificar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRecursoModificar</servlet-name>
		<url-pattern>/recurso/modificar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorRecursoEliminar</servlet-name>
		<servlet-class>controlador.recurso.eliminar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorRecursoEliminar</servlet-name>
		<url-pattern>/recurso/eliminar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorAccesoInsertar</servlet-name>
		<servlet-class>controlador.acceso.insertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAccesoInsertar</servlet-name>
		<url-pattern>/acceso/insertar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorAccesoIndex</servlet-name>
		<servlet-class>controlador.acceso.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAccesoIndex</servlet-name>
		<url-pattern>/acceso</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorAccesoModificar</servlet-name>
		<servlet-class>controlador.acceso.modificar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAccesoModificar</servlet-name>
		<url-pattern>/acceso/modificar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorAccesoEliminar</servlet-name>
		<servlet-class>controlador.acceso.eliminar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorAccesoEliminar</servlet-name>
		<url-pattern>/acceso/eliminar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorUsuarioIndex</servlet-name>
		<servlet-class>controlador.usuario.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorUsuarioIndex</servlet-name>
		<url-pattern>/usuario</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorUsuarioInsertar</servlet-name>
		<servlet-class>controlador.usuario.insertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorUsuarioInsertar</servlet-name>
		<url-pattern>/usuario/insertar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>controladorUsuarioEliminar</servlet-name>
		<servlet-class>controlador.usuario.eliminar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorUsuarioEliminar</servlet-name>
		<url-pattern>/usuario/eliminar</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>controladorUsuarioModificar</servlet-name>
		<servlet-class>controlador.usuario.modificar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorUsuarioModificar</servlet-name>
		<url-pattern>/usuario/modificar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controladorGmail</servlet-name>
		<servlet-class>gmail.GmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controladorGmail</servlet-name>
		<url-pattern>/gmail</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>